.hotels{
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #fff;
}
.hotels-conteiner{
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}
.hotels-wrapper{
  position: relative;
  display:flex;
  flex-wrap: wrap;
}
.hotels-items-container{
  width: 100%;
  justify-content: 10px;
}
.hotels-item-pic-wrap{
  width: 100px;  
  height: 200px;
}
.hotels-item-container{
  align-items: left;
  display: flex;
  flex: 1;
  margin-bottom: 20px;
  background-color: lightyellow;
}
.hotels-item-img{
  position: relative;
}
.hotel-info{
 margin-left: 10px; 
}